.header {
    width: 100%;
    height: 765px;
    position: relative;
    background-image: url(../portfolio/resources/developer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.header__inner {
    padding-top: 33.1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.header__link-rychagov {
    font-size: 42px;
    padding: 7px;
    color: #1BFF07;
    background: #000;
    border-radius: 100px;
}

.menu__list {
    display: inline-flex;
    gap: 50px;

}

.menu__nav {
    text-transform: uppercase;
}

.menu__link {
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #fbfbfb;
}

.menu__link:hover {
    color: #fb6400;
}

.burger__button {
    display: none;
    z-index: 100;
}

.burger {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: end;
    visibility: hidden;
    transition: all 0.3s ease;
}

.burger_open {
    visibility: visible;
}

.burger__content { 
    position: relative;
    width: 362px;
    height: 100%;
    padding-left: 37px;
    padding-top: 100px;
    background-color: #000;
    overflow-y: auto;
    transform: translateX(100%);
}

.burger_open
.burger__content {
    transform: translateX(0);
}

.burger__link {
    text-decoration: none;
}

.burger__logo-rychagov {
    width: 218px;
    font-size: 42px;
    color: #1BFF07;
    padding: 7px;
    margin-bottom: 37px;
}

.burger__menu-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: 91px;
}

.burger__menu-link {
    text-decoration: none;
    font-size: 25px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.burger__menu-link:hover {
    color: #1BFF07;
}

.burger__contacts-title {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 20px;
}

.burger__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__properties {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}

.contacts__properties:hover {
    color: #1BFF07;
}

.header__about-me {
    position: absolute;
    bottom: 37px;
}


.header__description {
    width: 34%;
    position: relative;
    bottom: 78px;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
}

.header__title {
    width: 85%;
    position: relative;
    bottom: 50px;
    font-size: 80px;
    line-height: 70px;
    color: #07ffbf;
    letter-spacing: -3%;
}

@media (max-width: 1199px) {
    .header {
        background-image: url(../portfolio/resources/developer-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__list {
        display: none;
    }

    .burger__button {
        display: block;
        width: 63px;
        height: 63px;
        background-image: url(../portfolio/resources/burger-menu.png);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }


    .burger-btn_open {
        width: 34px;
        height: 34px;
        background-image: url(../portfolio/resources/burger-cross.png);
        background-repeat: no-repeat;
    }

    .header__title {
        width: 79%;
        font-size: 60px;
        bottom: 17px;
    }

    .header__description {
        width: 45%;
        bottom: 50px;
    }
}


@media (max-width: 767px) {
    .header {
        background-image: url(../resources/developer-phone.png);
        margin-bottom: 100px;
    }

    .header__link-rychagov {
        font-size: 30px;
    }

    .header__title {
        width: 100%;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -1.2px;
        bottom: 51px;
    }

    .header__description {
        width: 90%;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.45px;
        bottom: 97px;
    }
}
