.service__subtitle {
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;
    padding-bottom: 74px;
}

.service__block {
    padding-bottom: 74px;
}

.service__block:last-child {
    padding-bottom: 0px;
}

.box {
    height: 283px;
    background-image: url(../resources/grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.service__title {
    font-size: 55px;
    line-height: 72px;
    color: #1BFF07;
    padding-bottom: 15px;
}

.service__description {
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}