.competencies__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px 50px;
    margin-top: 100px;
}

.competencies__block {
    width: calc(50% - 25px);
}

.competencies__title {
    font-size: 35px;
    line-height: 46px;
    color: #ffceb2;
    margin-bottom: 15px;
}

.img__icon {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

.competencies__description {
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}

@media (max-width: 1199px) {

    .competencies__list {
        gap: 84px 40px;
        margin-top: 100px;
    }

    .competencies__title {
        font-size: 28px;
        line-height: 36px;
    }

    .competencies__description {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 767px) {

    .competencies__list {
        flex-direction: column;
        gap: 100px;
        margin-top: 70px;
    }

    .competencies__block {
        width: 100%;
    }

}