.skills__title {
    font-size: 55px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 140px;
}

.competencies__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px 50px;

}

.competencies__block {
    width: calc(50% - 25px);
}



.properties {
    position: relative;
    font-size: 35px;
    line-height: 46px;
    color: #1BFF07;
    padding-bottom: 15px;
}

/* HTML */

.competencies__title-html::before {
    content: '';
    display: block;
    position: absolute;
    top: -51px;
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url(../resources/html.png);
    background-size: 24px, 22px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #1BFF07;
}

/* JS */

.competencies__title-js::before {
    content: '';
    display: block;
    position: absolute;
    top: -51px;
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url(../resources/js.png);
    background-size: 22px, 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #1BFF07;
}

/* Фреймворки */

.competencies__title-framework::before {
    content: '';
    display: block;
    position: absolute;
    top: -51px;
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url(../resources/phone.png);
    background-size: 17px, 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #1BFF07;
}

/* Адаптивная верстка и мобильная разработка */

.competencies__title-adaptive::before {
    content: '';
    display: block;
    position: absolute;
    top: -51px;
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url(../resources/core.png);
    background-size: 25px, 27px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #1BFF07;
}


.competencies__description {
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}

.competencies__point:last-child {
    padding-bottom: 0;
}

@media (max-width: 1199px) {

    .skills__title {
        font-size: 45px;
        line-height: 59px;
        margin-bottom: 110px;
    }

    .competencies__list {
        gap: 84px 40px;
    }

    .properties {
        font-size: 28px;
        line-height: 36px;
    }

    .competencies__title-html::before {
        width: 36px;
        height: 36px;
    }
    .competencies__title-js::before {
        width: 36px;
        height: 36px;
    }
    .competencies__title-framework::before {
        width: 36px;
        height: 36px;
    }
    .competencies__title-adaptive::before {
        width: 36px;
        height: 36px;
    }

    .competencies__description {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width: 767px) {

    .competencies {
        margin-bottom: 100px;
    }

    .skills__title {
        font-size: 36px;
        line-height: 39px;
    }

    .competencies__list {
        flex-direction: column;
        gap: 108px;
    }

    .competencies__block {
        width: 100%;
    }
}