.contacts {
    height: 800px;
    background-color: #191C19;
    border-radius: 30px;
    position: relative;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contacts__title {
    max-width: 553px;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 60px;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.input {
    display: block;
    font-family: IBM Plex Mono;
    color: #FFFFFF;
    width: 86%;
    height: 60px;
    padding-left: 40px;
    font-size: 22px;
    line-height: 29px;
    border-radius: 1000px;
    background: #3B3D3B;
    border-style: unset;
    
}

.contact__btn {
    width: 80%;
    border: none;
    font: inherit;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.75s;
}

.contact__btn:hover {
    background: #ffceb2;
    color: #000;
}

.contacts__icon {
    display: flex;
    position: relative;
    width: 512px;
    height: 512px;
    background-image: url(../resources/contact-icon.png);
    background-repeat: no-repeat;
    top: 60px;
}


@media (max-width: 1199px) {

    .contacts {
        height: 510px;
    }

    .contacts__wrapper {
        width: 44%;
        margin-left: 50px;
    }

    .contacts__title {
        max-width: 373px;
        font-size: 40px;
        line-height: 40px;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .form {
        gap: 17px;
    }

    .input {
        width: 90%;
        height: 41px;
        font-size: 16px;
        line-height: 21px;
        padding-left: 24px;
    }

    .contact__btn {
        width: 78%;
        font-size: 16px;
        line-height: 21px;
        padding: 14px;
        margin-top: 23px;
    }

    .contacts__icon {
        width: 256px;
        height: 256px;
        background-image: url(../resources/contact-icon-tablet.png);
        top: 40px;
        margin-right: 50px;
    }
}

@media (max-width: 767px) {

    .contacts {
        height: 428px;
    }

    .contacts__icon {
        display: none;
    }

    .contacts__wrapper {
        width: 90%;
        margin-left: 10px;
    }

    .contacts__title {
        max-width: 310px;
        font-size: 35px;
        line-height: 37px;
        margin-top: 30px;
        margin-bottom: 26px;
    }

    .form {
        gap: 15px;
    }

    .input {
        max-width: 353px;
        font-size: 15px;
        line-height: 20px;
        height: 38px;
    }

    .contact__btn {
        max-width: 353px;
        font-size: 15px;
        line-height: 20px;
        padding: 11px;
    }

    .contacts__icon {
        background-image: none;
    }

}


