.title__project {
    font-size: 55px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.project__card {
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 80px;
}

.project__list {
    position: relative;
}

.project__image {
    width: 100%;
    height: 587px;
    object-fit: cover;
    border-radius: 30px;
}


.project__title {
    position: absolute;
    bottom: 100px;
    left: 18px;
    font-size: 35px;
    font-weight: bold;
    line-height: 46px;
    color: #FFFFFF;
}

.project__subtitle {
    position:absolute;
    bottom: 50px;
    left: 18px;
    font-size: 30px;
    font-weight: bold;
    line-height: 39px;
    color: #ffffff;
} 

.project__label {
    position: absolute;
    top: 26px;
    left: 18px;
    font-size: 20px;
    line-height: 27px;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    background: #ffceb2;
    padding: 10px 20px;    
}

.project__btn {
    padding: 40px;
    display: block;
    width: 582px;
    line-height: 39px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid #ffceb2;
    color: #ffceb2;
    transition: 0.75s;
}

.project__btn:hover {
    background-color: #ffceb2;
    border: 1px solid #ffceb2;
    color:#000
}

@media (max-width: 1199px) {

    .project__card {
        gap: 64px;
    }

    .subtitle {
        font-size: 45px;
        line-height: 59px;
    }

    .project__image {
        height: 445px;
        border-radius: 25px;
        object-position: bottom;
    }

    .project__title {
        font-size: 30px;
        line-height: 40px;
        bottom: 85px;
    }

    .project__subtitle {
        font-size: 24px;
        line-height: 31px;
        bottom: 45px;
    }

    .project__btn {
        width: 100%;
        font-size: 24px;
        line-height: 32px;
    }

}

@media (max-width: 767px) {

    .project__card {
        gap: 40px;
        margin-bottom: 60px;
    }

    .title__project {
        font-size: 30px;
        line-height: 39px;
    }

    .project__image {
        object-position: 57%;
    }

    .project__subtitle {
        font-size: 16px;
        line-height: 21px;
    }

    .project__label {
        font-size: 14px;
        line-height: 18px;
    }

    .project__btn {
        font-size: 18px;
        line-height: 23px;
        padding: 20px;
    }
}