html {
    scroll-behavior: smooth;
}

body {
    font-family: IBM Plex Mono;
    background-color: #000;   
}

body, h2, h3, p, a {
    letter-spacing: -0.03em;
}

.container {
    width: 1155px;
    margin: 0 auto;
}

header {
    margin-bottom: 150px;
}

section {
    margin-bottom: 150px;
}


@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}